<div class="col-md-8 col-md-offset-2">
    <form id="form_certi_details" class="form-horizontal col-sm-8 col-sm-offset-2" role="form" method="POST" action="/process">
      <div class="form-group">
        <label for="fieldName" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="fieldName" name="name">
        </div>
      </div>
      <div class="form-group">
        <label for="fieldEvent" class="col-sm-3 control-label">Event</label>
        <div class="col-sm-6">
          <input type="text" id="fieldEvent" class="form-control" required name="event">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
          <button id="submit-all" type="submit" class="btn btn-secondary">Submit</button>
        </div>
      </div>
    </form>
</div>
